.results-route-wrapper {
  padding-top: 100px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.pokecard-container {
  display: flex;
  width: 80%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(78, 163, 163);
  margin: 25px 10% 20px 10%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.712);
}

.img-container {
  display: flex;
  justify-content: center;
}

.pokemon-img {
  width: 360px;
  border-radius: 20%;
}

.pokemon-description {
  text-align: center;
  font-family: Pokemon;
  letter-spacing: 5px;
}

.back-to-favorites-button {
  margin: 0;
  user-select: none;
}

.back-to-favorites-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.buttons-container {
  /* position: fixed;
  top: 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: space-between;
  width: 80vw;
}

.back-button {
  /* position: absolute; */
  background: rgb(165, 209, 169);
  height: fit-content;
  /* top: 20px;
  left: 70px; */
  margin: 0;
  padding: 0 30px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.back-button:hover {
  filter: brightness(90%);

}

.back-button:active {
  transform: translateY(2px);
}

.favorites-button {
  /* position: absolute; */
  background: rgb(102, 223, 112);
  /* top: 20px;
  right: 70px; */
  position: relative;
  
  display: flex;
  height: fit-content;
  cursor: pointer;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.favorites-button:hover {
  filter: brightness(90%);
}

.favorites-button:active {
  transform: translateY(2px);
}

.fav-icon-container {
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: flex-end;
}

.favorites-icon {
  width: 70px;
  cursor: pointer;
  user-select: none;
  margin-right: 30px;
}

/* subcomponents */

.info-container {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.subcomponent-title {
  font-size: 2rem;
  /* flex-wrap: wrap; */
}

/* .pokefont {
  font-family: Pokemon, Montserrat;
  letter-spacing: 3px;
  font-size: 18px;
  height: 18px;
} */

th, td {
  line-height: 1.5;
  vertical-align: middle;
  /* padding: 4px 10px; */
}

.data-value {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

@media screen and (max-width: 500px) {
  .pokecard-container {
    width: 80vw;
  }

  .pokemon-img {
    width: 60vw;
  }

  .favorites-icon {
    width: 10vw;
    margin-right: 0;
  }

  .pokemon-description {
    font-size: 6vw;
  }
}

@media screen and (max-width: 700px) {

  .pokecard-container {
    margin: 0 20vw 30px 20vw;
    width: 70vw;
  }

  .back-to-favorites-button {
    font-size: 20px;
  }

  .back-button {
    font-size: 20px;
  }

  .favorites-icon {
    width: 10vw;
    margin-right: 5px;
  }

  .subcomponent-title {
    font-size: 23px;
  }

  .data-value {
    font-size: 15px;
  }

  .info-container {
    margin-top: 70px;
  }
}

