input {
  width: 500px;
  height: 50px;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  z-index: 10;
}

.search-nav-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.go-to-favorites-button {
  cursor: pointer;
  margin: 0 30px 0 0 ;
  z-index: 2;
}

.go-to-favorites-button:hover {
  text-decoration: underline;
  user-select: none;
}

.title-and-searchbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}

.searchbar-container {
  /* height: 400px; */
  display: flex;
  flex-direction: column;
}

.search-results {
  position: relative;
  bottom: 10px;
  z-index: 2;
  background: rgb(161, 153, 138);
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  user-select: none;
  margin-bottom: 30px;
}

.search-result:last-of-type {
  border-radius: 0 0 10px 10px;
}

.search-result {
  padding-left: 10px;
  cursor: pointer;
  margin: 0;
  padding: 7px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.search-result:hover {
  background: orange;
}

.selected {
  background: orange;
}

.pokesearch-title {
  margin: 0;
  font-family: Pokemon;
  font-size: 4rem;
  letter-spacing: 5px;
}

@media screen and (max-width: 590px) {

  .title-and-searchbox-container {
    padding-top: 150px;
  }

  input {
    width: 70vw;
    font-size: 1.2em;
  }

  .search-result {
    font-size: 1em;
  }
}

@media screen and (max-width: 330px) {

  input {
    font-size: 1em;
    height: 35px;
  }

  .search-result {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 700px) {
  .go-to-favorites-button {
    font-size: 20px;
  }
}