.footer-container {
  width: 100%;
}

.footer-container {
  width: 100%;
  z-index: 2;
  margin-top: auto;
}

.footer {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-text {
  padding: 30px 5vw;
  color: wheat;
  background-color: rgb(80, 87, 87);
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .footer-text {
    font-size: 12px;
  }
}