.pokedex-wrapper {
  width: 300px;
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
}

.pokemon-type-data {
  display: flex;
  flex-direction: column;
}

.pokedex-data {
  font-size: 18px;
}

.pokedex-table {
  width: 100%;
}

.type {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  /* padding: 5px; */
  border-spacing: 10px;
}




.type-data {
  /* text-align: left; */
  font-weight: lighter;
}

.type-normal {
  background-color: #A8A878;
}

.type-grass {
  background-color: #78C850;
}

.type-ground {
  background-color: #E0C068;
}

.type-fire {
  background-color: #F08030;
}

.type-fighting {
  background-color: #C03028;
}

.type-water {
  background-color: #6890F0;
}

.type-flying {
  background-color: #A890F0;
}

.type-poison {
  background-color: #A040A0;
}

.type-electric {
  background-color: #F8D030;
}

.type-psychic {
  background-color: #F85888;
}

.type-rock {
  background-color: #B8A038;
}

.type-ice {
  background-color: #98D8D8;
}

.type-bug {
  background-color: #A8B820;
}

.type-dragon {
  background-color: #7038F8;
}

.type-ghost {
  background-color: #705898;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #B8B8D0;
}

.type-fairy {
  background-color: #EE99AC;
}


