/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

@font-face {
  font-family: Pokemon;
  src: url(PokemonHollowNormal-pyPZ.ttf);
}

html {
  background: rgb(224, 192, 103);
  /* overflow-x: hidden; */
}


/* .App {
  min-height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
} */

.search-route-wrapper {
  height: 100vh;
  margin-top: 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.svg-container {
  height: 100%;
  width: 100%;
  background: rgb(224, 192, 103);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.loader {
  width: 200px;
}

.fav-pokemons-container {
  display: flex;
  width: 100vw;
  margin-top: 150px;
  margin-bottom: 30px;
  /* height: 100%; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
}

.nav-bar {
  height: 100px;
  width: 100vw;
  background: rgb(204, 169, 103);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}



/* .favorites-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
} */



/* .fav-pokemons-wrapper {
  margin-bottom: 30px;
} */

/* Add to favorites icon */


@media screen and (max-width: 990px) {
  .back-button {
    font-size: 1.5em;
  }

  .favorites-button {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 590px) {
  .pokesearch-title {
    font-size: 3rem;
  }

  .go-to-favorites-button {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 330px) {
  .pokesearch-title {
    font-size: 2rem;
    /* position: fixed;
    top: 50px; */
  }
}
