/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

@font-face {
  font-family: Pokemon;
  src: url(PokemonHollowNormal-pyPZ.ttf);
  font-display: swap;
}




/* .App {
  min-height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
} */

.search-route-wrapper {
  height: 80vh;
  /* margin-top: 100px; */
  /* box-sizing: border-box; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.svg-container {
  height: 100%;
  width: 100%;
  background: rgb(224, 192, 103);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.loader {
  width: 200px;
}

.nav-bar {
  height: 100px;
  width: 100vw;
  background: rgb(204, 169, 103);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.search-footer-container {
  /* position: absolute;
  bottom: 0; */
  /* position: relative;
  top: 420px; */
  width: 100%;
  z-index: 2;
  margin-top: 50px;
}

.search-route-footer {
  /* width: 100%; */
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-footer-text {
  padding: 30px 5vw;
  color: wheat;
  background-color: rgb(80, 87, 87);
  border-radius: 20px;
  text-align: center;
}

/* .favorites-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
} */



/* .fav-pokemons-wrapper {
  margin-bottom: 30px;
} */

/* Add to favorites icon */


/* @media screen and (max-width: 990px) {
  .back-button {
    font-size: 1.5em;
  }

  .favorites-button {
    font-size: 1.5em;
  }
} */

@media screen and (max-width: 700px) {
  .nav-bar {
    height: 70px;
  }

  .search-footer-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 590px) {
  .pokesearch-title {
    font-size: 3rem;
  }

}

@media screen and (max-width: 330px) {
  .pokesearch-title {
    font-size: 2rem;
    /* position: fixed;
    top: 50px; */
  }
}
