@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  background: rgb(224, 192, 103);
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}